* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    width: 2410px;
    /* height: 640px; */
    height: 552px;
    /* height: 97vh; */
    background: #424242;
    /* padding-top: 70px;
    padding-left: 70px; */
    padding-top: 40px;
    padding-left: 40px;
    /* margin: 0 auto; */
    margin: 0;
    /* margin-top: 5%; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.container-margin {
    margin-right: 58px;
}

/* Чекбокс */
.checkbox-container {
    display: flex;
    flex-direction: column;
    max-width: 176px;
    max-height: 309px;
    padding: 21px 29px 29px 30px;
    background: #FFFFFF;
    border-radius: 10px;
}

.option {
    margin-bottom: 20px;
}

.check__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.check__choice {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.check {
    display: flex;
    align-items: center;
    padding-left: 24px;
    cursor: pointer;
}

.check__input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.check__box {
    position: absolute;
    border: 1px solid #999999;
    border-radius: 3px;
    width: 13px;
    height: 13px;
    margin-left: -24px;
}

.check__input:checked + .check__box {
    border: 1px solid #CCB26E;
    background-image: url(/img/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

/* .check__input:focus + .check__box {
    border: 2px solid darkblue;
} */

/* .check__input:checked:focus + .check__box {
    border: 2px solid darkblue;
} */

/* Селект */
.select-container {
    width: 176px;
}

.choices {
    max-width: 176px;
}

is-focused .choices__inner,
.is-open .choices__inner {
    border: 1px solid #CCB26E;
}

.choices[data-type*=select-one]::after {
    width: 8px;
    height: 8px;
    z-index: 3;
    top: 40%;
    border: 1px solid #666666;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after {
    top: 60%;
    border: 1px solid #CCB26E;
    border-width: 1px 1px 0 0;
}

.choices__inner {
    position: relative;
    z-index: 2;
    min-height: 39px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 9px 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}

.choices.is-open {
    background-color: #FFFFFF;
    border-radius: 10px 10px 0 0;
}

.is-open .choices__inner {
    border-radius: 10px;
}

.choices__list--dropdown.is-active {
    top: calc(100% - 30px);
    padding-top: 30px;
}

.choices__list--dropdown.is-active {
    border: 1px solid #CCB26E;
    border-top-width: 0;
    border-radius: 0 0 10px 10px;
}

.choices__list--single {
    padding: 0;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
    border-color: #CCB26E;
}

.choices__placeholder {
    opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
    display: none;
}

.choices__list--dropdown .choices__item--selectable, 
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 10px;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 11px;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    padding: 9px 15px 11px 15px;
}

.choices__list--dropdown .choices__list, 
.choices__list[aria-expanded] .choices__list {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Яндекс Карта */
[class*="ground-pane"] {
    filter: grayscale(1)
}

[class*="copyrights-pane"] {
    display: none !important;
}

/* Скролл */
.customScroll {
    width: 399px;
    max-height: 310px;
    padding: 20px 30px;
    background: #fff;
}

.customScroll__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #333333;
}

.simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: #CCB26E;
    border-radius: 5px;
    width: 6px;
    max-height: 70px;
    opacity: 1;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

/* Форма валидации */
.form-container {
    position: relative;
    width: 440px;
    height: 410px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 38px 30px;
}

.form {
    display: flex;
    flex-direction: column;
    /* opacity: 1; */
}

.form__group-box {
    display: flex;
    flex-direction: column-reverse;
}

.form__group {
    background: #FFFFFF;
    border: 1px solid #FF5C00;
    border-radius: 10px;
    max-width: 380px;
    height: 60px;
    margin-bottom: 31px;
    padding: 24px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
}

.form__button {
    max-width: 192px;
    padding: 18.5px 53px;
    background: #FF5C00;
    border-radius: 10px;
    border: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.just-validate-error-label {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FF5C00;
    margin-top: -17px;
    margin-bottom: 5px;
    padding-left: 20px;
}

/* Тултип */
.tooltip-container {
    width: 375px;
    height: 160px;
    padding: 20px 84px 20px 29px;
    background: #FFFFFF;
}

.tooltip__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #333333;
}

.tooltip__info:hover path {
    fill: #CCB26E;
}

.tippy-box {
    margin-bottom: 4px;
    background-color: #666666;
    color: #fff;
    border-radius: 0;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #666666;
  }
